<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.littlepage.mapper.ClubCardMapper">
	<insert id="addClubCard">
		insert clubCard values(null,#{id},#{price})
	</insert>
	
	<select id="getBalanceById" resultType="com.littlepage.entity.ClubCard">
		select * from clubCard where uid=#{id}
	</select>
	
	<select id="queryAllById" resultType="com.littlepage.entity.ClubCard">
		select * from clubCard where uid=#{id}
	</select>
</mapper>

