<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.littlepage.mapper.FilmLikeMapper">

	<select id="findAll" resultType="com.littlepage.entity.FilmLike">
		SELECT * FROM
		filmlike WHERE
		uid=#{uid} AND
		fid=#{fid}
	</select>
	
	<insert id="addFilmLike">
		INSERT filmlike VALUES
		(null,#{uid},#{fid},#{date})
	</insert>
	
	<delete id="deleteFilmLike">
		DELETE FROM filmlike
		WHERE uid=#{uid} and fid=#{fid}
	</delete>
	
	<select id="filmLikeCount" resultType="com.littlepage.entity.FilmLikeCount">
		select film.name filmName,count(filmlike.id) count from film,filmlike where filmlike.fid=film.id group by film.name
	</select>
</mapper>

