<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlepage.mapper.FilmScheduleMapper">
  <select id="findByDate" resultType="com.littlepage.entity.FilmSchedule">
  		select * from filmSchedule where date=#{date}
  </select>
  
  <insert id="addFilmSchedule" parameterType="com.littlepage.entity.FilmSchedule">
  		insert filmSchedule values(
  			null,#{date},#{starttime},#{endtime},
  			#{fid},#{filmroom},#{price},#{visiabletimestart},
  			#{visiabletimeend},#{view}
  		)
  </insert>
  
 <select id="findRepeat" resultType="com.littlepage.entity.FilmSchedule" >
 		select * from filmSchedule where 
		#{starttime} between startTime and endTime and
		date=#{date} union
		select * from filmSchedule where 
		#{endtime} between startTime and endTime and
		date=#{date} 
 </select>
 
 <select id="showByFilmRoom" resultType="com.littlepage.entity.FilmSchedule"  >
 		select * from filmSchedule where
 		date>=#{startDate} and date&lt;=#{endDate}
 		and filmRoom=#{filmRoom}
 </select>
 
 <select id="showByFilm" resultType="com.littlepage.entity.FilmSchedule"  >
 		select * from filmSchedule where
 		date>=#{startDate} and date&lt;=#{endDate}
 		and fid=(select id from film where name=#{filmRoom})
 </select>
 
 <update id="setStartDateAndEndDate">
 		update filmSchedule set visiabletimestart=#{startDate}
 		,visiabletimeend=#{endDate}   where id=#{id}
 </update>
</mapper>