<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.littlepage.mapper.FilmMapper">

	<insert id="addFilm" parameterType="com.littlepage.entity.Film">
		INSERT INTO film
        VALUES
        (
        null,#{name},#{posterLink},#{director},#{scriptWriter},
        #{actor},#{type},#{location},#{language},#{releaseDate},
        #{length},#{reflectDate}
        )
	</insert>
	
	<select id="findAll" resultType="com.littlepage.entity.Film">
		SELECT * FROM film
	</select>
	
	<select id="findById" resultType="com.littlepage.entity.Film">
		SELECT * FROM film WHERE id=#{id}
	</select>
	
	<select id="findByName" resultType="com.littlepage.entity.Film">
		SELECT * FROM film WHERE name=#{name}
	</select>
	
	<select id="searchAll" resultType="com.littlepage.entity.Film">
		SELECT * FROM film WHERE name like #{search} union
		SELECT * FROM film WHERE director like #{search} union
		SELECT * FROM film WHERE scriptWriter like #{search} union
		SELECT * FROM film WHERE actor like #{search} union
		SELECT * FROM film WHERE type like #{search} union
		SELECT * FROM film WHERE location like #{search} union
		SELECT * FROM film WHERE language like #{search}
	</select>
	
	<select id="findByDate" resultType="com.littlepage.entity.Film">
		select * from film where #{date} between releasedate and reflectdate
	</select>
	
	<delete id="deleteById">
		delete from film where id=#{id}
	</delete>
	
	<update id="modifyFilmById">
		update film set name=#{name},
		director=#{director},
		scriptWriter=#{scriptWriter},
		actor=#{actor},
		type=#{type},
		location=#{location},
		language=#{language}
		where id=#{id}
	</update>
</mapper>

